*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header  */
header{
    width: 100%;
    position: fixed;
    top: 0;
}

header .row{
    width: 100%;
    height: 80px;
    background-color: red;
}

header .row::after{
    display: table;
    clear: both;
    content: "";
}

header .logo{
    width: 15%;
    height: 100%;
    float: left;
    background-color: green;
}
    /* header nav left */
header .nav--left{
    height: 100%;

    width: 30%;
    background-color: yellow;
    float: left;
}
    /* header nav right  */
header .nav--right{
    height: 100%;
    background-color: blue;

    width: 30%;
    float: right;
}


/* jumbotron  */
#jumbotron{
    margin-top: 80px;
    width: 100%;
    height: 700px;
    min-height: 700px;
    background-color: burlywood;
    
}

#jumbotron .container{
    background-color: chocolate;
    width: 90%;
    max-width: 1180px;
    height: 800px;
    min-height: 800px;
    margin: auto;
    margin-bottom: 50px;
}

#jumbotron h1{
    height: 300px;
    background-color: cyan;
    margin-bottom: 50px;
}

    /* jumbotron bottom float  */
#jumbotron .jumbotron__el{
    background-color: darkcyan;
    height: 400px;
}

#jumbotron .jumbotron__el::after{
    display: table;
    content: "";
    clear: both;
}

.jumbotron__el .jumbo__text{
    width: 40%;
    height: 100%;
    background-color: red;
    float: left;
}

.jumbotron__el .jumbo__img{
    width: 60%;
    height: 100%;
    background-color: blue;
    float: left;
}

/* main  */

/* section plans  */

#plans .container{
    background-color: yellowgreen;
    width: 90%;
    max-width: 1180px;
    height: 1200px;
    min-height: 1200px;
    margin: 100px auto;    
}

    /* plans header  */
#plans__header{
    height: 150px;
    width: 100%;
    background-color: aqua;
}

    /* plans col  */
#plans__clearfix{
    height: 750px;
    width: 100%;
    background-color: bisque;
}
#plans__clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.col{
    width: calc(100% / 3 - 20px);
   margin: 0px 10px;
    height: 98%;
    background-color: darkblue;
    float: left;
}

.col .col__type{
    height: 40px;
    background-color: darkcyan;
}

.col .col__price{
    height: 300px;
    background-color: darkmagenta;
}

.col .col__info{
    height: 300px;
    background-color: darkred;
}

    /* plans footer  */
#plans__footer{
    height: 100px;
    width: 100%;
    background-color: blueviolet;
}

.plans__footer--type{
    height: 40px;
    background-color: darkred;
}


#plans__footer--clearfix::after{
    display: table;
    content: "";
    clear: both;
}

.plans__footer--price{
    width: 60%;
    background-color: darkslateblue;
    float: left;
    height: 100px;
}

.plans__footer--btn{
    width: 40%;
    float: left;
    background-color: darkslategray;
    height: 100px;
}


